.MuiCard-root {
    box-shadow: none !important;
    height: 410px;
}

.MuiCardMedia-root {
    height: 200px;
    background-size: contain !important;
}

.MuiCardContent-root {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    position: relative !important;
    transition: bottom 0.3s;
    bottom: 0;
    bottom: 0px !important;
    height: auto;
}

.MuiGrid-item *:hover>.MuiCardContent-root {
    bottom: 100px !important;
}

.MuiTypography-body1 {
    margin-bottom: 10px;
    height: 50px;
}

.MuiTypography-body2 {
    font-size: 20px !important;
    font-weight: bold !important;
    height: 40px;
}

.MuiTypography-subtitle1 {
    font-size: 14px !important;
    color: #b4b4b4 !important;
    height: auto;
}

.MuiTypography-subtitle2 {
    font-size: 14px !important;
    color: #b4b4b4 !important;
    height: 150px;
    transition: height 0.3s;
}

.MuiGrid-item :hover>.MuiCardContent-root>.MuiTypography-subtitle2 {
    height: 50px !important;
}

.MuiCardActions-root {
    height: 100px;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.MuiAvatar-rounded {
    background-color: #d6cfcf;
    border-radius: 30px !important;
}

.MuiInputBase-root.Mui-disabled {
    width: 50%;
}

.MuiInputBase-input .Mui-disabled {
    margin: 0 10px;
}

.actionAmount {
    height: auto;
}

.actionButton {
    height: 60px;
}

.MuiButton-containedPrimary {
    width: 100%;
    background-color: #22a8f7 !important;
}